// Color

$white = #FFF
$black = #000

$neutral-1 = #F5F8FA
$neutral-2 = #EBF1F5
$neutral-3 = #E1E8ED
$neutral-4 = #CED9E0
$neutral-5 = #BFCCD6
$neutral-6 = #8A9BA8
$neutral-7 = #5C7080
$neutral-8 = #394B59
$neutral-9 = #293742
$neutral-10 = #182026
$primary-1 = #ECF5FA
$primary-2 = #D2E6F3
$primary-3 = #AED2E8
$primary-4 = #80B8DB
$primary-5 = #4B9BCD
$primary-6 = #137CBD
$primary-7 = #1068A4
$primary-8 = #0E5489
$primary-9 = #0B3F6F
$primary-10 = #082A54

$info-1 = #ECF5FA
$info-2 = #D2E6F3
$info-3 = #AED2E8
$info-4 = #80B8DB
$info-5 = #4B9BCD
$info-6 = #137CBD
$info-7 = #1068A4
$info-8 = #0E5489
$info-9 = #0B3F6F
$info-10 = #082A54

$success-1 = #ECF7F2
$success-2 = #D2ECE1
$success-3 = #ADDCC8
$success-4 = #7EC8A9
$success-5 = #48B186
$success-6 = #0F9960
$success-7 = #0D8556
$success-8 = #0B704B
$success-9 = #095B41
$success-10 = #074636

$warning-1 = #FCF5EE
$warning-2 = #F8E7D7
$warning-3 = #F2D4B6
$warning-4 = #EBBC8D
$warning-5 = #E2A05E
$warning-6 = #D7812B
$warning-7 = #C06925
$warning-8 = #A64F20
$warning-9 = #8C3B1A
$warning-10 = #702614

$danger-1 = #FCEEEE
$danger-2 = #F7D7D7
$danger-3 = #F1B6B6
$danger-4 = #E98D8D
$danger-5 = #E15E5E
$danger-6 = #D72B2B
$danger-7 = #BE262F
$danger-8 = #A32030
$danger-9 = #8A1B2E
$danger-10 = #70152A

$tmpl-1 = #FAEBFA
$tmpl-2 = #EADAEA
$tmpl-3 = #D9BBD9
$tmpl-4 = #C394C3
$tmpl-5 = #AA68AA
$tmpl-6 = #8F398F
$tmpl-7 = #7C317B
$tmpl-8 = #692A66
$tmpl-9 = #562250
$tmpl-10 = #421A3B
